<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.homepage.portfolio.Mapper.BoardMapper">
<sql id="searchBoard">
	<if test="searchKeyword!=null and searchKeyword!=''">
        <foreach item="item" index="index" collection="searchTypeArr">
            where ${item} LIKE CONCAT('%', #{searchKeyword},'%' )
         </foreach>
    </if> 
</sql>

	
	<insert id="insertBoard" parameterType="com.homepage.portfolio.DTO.BoardDTO">
		
		insert into board (subject,content,date) values(#{subject},#{content},now())
	</insert>
	
	<select id="seleteList" resultType="com.homepage.portfolio.DTO.BoardDTO" parameterType="com.homepage.portfolio.DTO.SearchDTO">
		select * from board <include refid="searchBoard"></include> order by boardnum desc LIMIT ${rowStart-1},${displayDataCount}
	</select>
	
	<delete id="deleteBoard" parameterType="integer">
		delete from board where boardnum = #{boardnum}
	</delete>
	
	<update id="updateBoard" parameterType="com.homepage.portfolio.DTO.BoardDTO">
		update board set subject=#{subject}, content = #{content} where boardnum = #{boardnum}
	</update>

	<select id="selectBoard" resultType="com.homepage.portfolio.DTO.BoardDTO" parameterType="integer">
		select * from board where boardnum = #{boardnum}
	</select>
	
	<select id="selectCount" resultType="integer" parameterType="com.homepage.portfolio.DTO.SearchDTO">
		select count(*) from  board <include refid="searchBoard"/>
	</select>
	

	
	<insert id="fileUploadTest" parameterType="com.homepage.portfolio.DTO.FileDTO">
	
		<selectKey resultType="integer" keyProperty="boardnum" order="BEFORE">
			select ifnull(max(boardnum),0) from board
		</selectKey>
		
		insert into boardfile (boardnum,filename,originname,filesize) values(#{boardnum},#{filename},#{originname},#{filesize})
		
	</insert>
	
	<select id="findfile" resultType="com.homepage.portfolio.DTO.FileDTO" parameterType="integer">
	
		select * from boardfile where boardnum = #{boardnum}
	</select>
	
	<select id="downfile" resultType="com.homepage.portfolio.DTO.FileDTO" parameterType="integer">
		select * from boardfile where filenum = #{filenum}
	</select>
	
	<delete id="deletefile" parameterType="integer">
		delete from boardfile where boardnum = #{boardnum}
	</delete>
</mapper>