<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.homepage.portfolio.Mapper.BoardMapper">
	
	<insert id="insertBoard" parameterType="com.homepage.portfolio.DTO.BoardDTO">
		insert into board (subject,content,date) values(#{subject},#{content},now())
	</insert>
	
	<select id="seleteList" resultType="com.homepage.portfolio.DTO.BoardDTO">
		select * from board
	</select>
	
	<delete id="deleteBoard" parameterType="integer">
		delete board where boardnum = #{boardnum}
	</delete>
	
	<update id="updateBoard" parameterType="com.homepage.portfolio.DTO.BoardDTO">
		update to board set subject=#{subject}, content = #{content} where boardnum = #{boardnum}
	</update>

	<select id="selectBoard" resultType="com.homepage.portfolio.DTO.BoardDTO" parameterType="integer">
		select * from board where boardnum = #{boardnum}
	</select>
</mapper>